[2016-11-30 10:05] monicacecilia opened #1 "Contact Form does not send emails to ISB"
The form found at http://biocuration.org/contact-the-isb/ is failing to accept and send messages to ISB webmaster.

[2016-11-30 10:10] monicacecilia opened #2 "Aggregate a list of articles published by ISB members"
Digital Scholarship releases the [Research Data Curation Bibliography](http://digital-scholarship.org/rdcb/rdcb.htm). There are very few biocuration articles listed here. We should provide a way for ISB members to add their publications to a growing list that can be added to this resource.

[2016-11-30 10:46] monicacecilia opened #3 "Better citation of ISB databases"
@mellybelly
Recommendations for better citation of ISB databases, including resolvable, persistent URIs for the databases using the Biosharing/biocoreDB identifiers. This is similar to what has been implemented for the OBO Foundry: http://www.obofoundry.org/docs/Citation.html. We want more attribution and better tracking.

[2016-11-30 10:47] monicacecilia opened #4 "Data exchange between ISB and Biosharing websites"
@mellybelly
Data exchange between the ISB website and the Biosharing website, where on the ISB website we can point at Biosharing records, and vice versa, the Biosharing records can point at the ISB site. This will help promote expertise of our biocurators and the relationship between the resources we work on, the standards, and the policies/guidelines.

[2016-11-30 18:23] monicacecilia opened #5 "Update mailing list name"
Update mailing list name from _[mailinglist]_ to _[biocuration]_.

[2017-02-02 08:42] monicacecilia opened #6 "Create resource with curators names and expertise (optional opt-in)"
- We should have pages with information about the fields of expertise for our curators, so that journals have access to a database of curators who can participate in the peer review process, and who will be invited based on expertise.
- Mention in this list should be optional for our curator members, and they would have to opt-in, rather than be automatically added when joining the society and the

[2017-02-06 21:18] andrewsu opened #7 "Brainstorming website improvements"
let's keep this issue open as a forum to brainstorm website improvements.

[2017-02-06 21:21] andrewsu commented on #7
- Move login form in left nav to prominent "Join or renew membership" button in right header ([seconded](https://groups.google.com/d/msg/intsocbio_ec/nRAc0Mas3_A/8LLeOCh4DgAJ))
- re-skin http://biocuration.org/wp-login.php to be like rest of site
- enable multi-year membership
- [change login screen to ask for email instead of username](https://groups.google.com/d/msg/intsocbio_ec/nRAc0Mas3_A/XKYJ

[2017-02-06 21:35] selewis opened #8 "Let the community know that there is an issue tracker"
add a link to this tracker from the web site, perhaps under the menu item "Contact the ISB"

[2017-02-06 21:37] selewis opened #9 "Need a page on "Why become a biocurator?""
Or
"How to become a biocurator"
or
"Biocuration as a career"
or
"What does it take to become a biocurator?"

[2017-02-07 18:03] andrewsu opened #10 ""Forgot password" feature is not sending email"
[Login recovery page](http://biocuration.org/wp-login.php?action=lostpassword) giving this error:

[2017-02-07 18:11] andrewsu commented on #10
Diagnosis: Easy WP SMTP plugin was not sending test messages.  Likely due to some issue with a recent change of gmail requiring OAuth authentication.

Attempt 1: Tried [Gmail SMTP plugin](https://wordpress.org/plugins/gmail-smtp/).  Test emails were being sent fine, but the reset password link was not included in the email because [this issue](https://core.trac.wordpress.org/ticket/21095).  (In sh

[2017-02-07 18:44] andrewsu opened #11 "Membership renewal notices not being sent"
For those whose memberships are expiring, renewals are not currently being sent.  This issue *may* be fixed by the outgoing email fixes in #10.  Moni is testing/confirming...

[2017-02-07 18:49] andrewsu opened #12 "Get domain name registration credentials"
We will need domain name registration credentials for biocuration.org when we migrate the site to wpengine.  It [looks](http://whois.domaintools.com/biocuration.org) like Pascale has this info?  Assigning to Moni (assuming she knows)...

(These credentials should be put into an ISB lastpass account for security and posterity.)

[2017-02-07 19:16] monicacecilia commented on #11
Tested 'expiring' and 'expired' membership messages. Renewal notices are still failing.

[2017-02-07 19:32] monicacecilia commented on #12
@pgaudet has these credentials. Tagging her here as well to remind us to transfer details.  Thanks in advance!

[2017-02-08 08:57] pgaudet commented on #12
Dear Andrew, Moni,

The domain is registered at the Biocuration society but I am indeed the contact person. Let me know how to proceed to change this.

Thanks, Pascale

[2017-02-08 23:05] andrewsu commented on #12
Hi Pascale,

Unless there is some prior agreement that I'm not aware of, I think the biocuration.org registration information should be transferred to ISB.  If that works, can you please email intsocbio@gmail.com with the registrar name and login credentials.  We will immediately get that imported into our ISB lastpass account and change the password.  We will also update the contact info so that

[2017-02-09 04:43] andrewsu opened #13 "Get wordpress site checked into this repo"
Probably should get our wordpress code checked in to this repo first thing after migration to wpengine.  Relevant links:

* https://wpengine.com/git/
* https://cdn2.hubspot.net/hubfs/298401/Documents_for_download/WP-WP-GIT-009.pdf
* https://hs.wpengine.com/recorded-webinar-git-in-motion?submissionGuid=efaead44-fb23-46b6-9905-1cb46921f563

[2017-02-09 11:59] Drosophilic commented on #13
Sorry, I'm hoping to get to this next week. I'll provide updates on progress here.

[2017-02-09 12:01] Drosophilic commented on #6
This is a great idea! May I suggest we could use the BioSharing ontology for these categories.
(disclaimer: I work on BioSharing and the related CV)

[2017-02-11 08:03] pgaudet commented on #12
Hi Andrew,

The owner of the site *is* the ISB:
http://whois.domaintools.com/biocurator.org

My understanding is that there need to be a contact person; that's what my
name there does. Please let me know what I should do.

Thanks, Pascale

On Thu, Feb 9, 2017 at 12:05 AM, Andrew Su <notifications@github.com> wrote:

[2017-02-11 16:20] andrewsu commented on #12
Hi Pascale,

It looks like the domain registrar (and possibly the web hosting provider?) is OVH. You may have gotten a reset password from them earlier as I was trying to confirm this. We need the login credentials for that site (which I'm presuming is also managing the DNS entries). If you use that account for other sites or domains besides biocuration.org and biocurator.org, let me know and we'l

[2017-02-11 17:32] andrewsu commented on #10
error recurred -- somehow Easy WP SMTP got reactivated and Postman SMTP deactivated.  Switched it back and tested.  Seems to work again...

[2017-02-11 17:32] #10 closed

[2017-02-11 18:37] pgaudet commented on #12
Hi Andrew,  OVH is indeed the host of the biocurator domain.  Moni has the
ovh credentials.  I haven't seen any password reset message.

Thanks,  Pascale

Le 11 févr. 2017 5:20 PM, "Andrew Su" <notifications@github.com> a écrit :

Hi Pascale,

It looks like the domain registrar (and possibly the web hosting provider?)
is OVH. You may have gotten a reset password from them earlier as I was
trying t

[2017-02-11 19:28] andrewsu commented on #12
Got it, thank you Pascale! Appreciate you bearing with me as I get oriented.  We'll do our best to get this better organized for future knowledge transfer as well...

Sending this back to @monicacecilia then! Moni, if you do have/find the ovh credentials, then please get them added to the isb lastpass account. If that lastpass account doesn't exist yet, let me know and I will set it up...

[2017-02-19 00:13] monicacecilia commented on #10
It's working now. I can warns on our inbox and successful logins from users requesting resets. 💃

[2017-02-19 00:16] monicacecilia commented on #12
@andrewsu you should have all credentials (see messages from 2017-02-15). Adding note here to be thorough.

[2017-02-19 00:18] andrewsu commented on #1
The contact page on the ISB website currently just lists the ISB gmail address.  Do we have a need to put the contact form back?  I vote no -- that showing the email address is just fine (and I think better than a contact form).  Objections?

[2017-02-19 00:19] andrewsu commented on #12
confirmed!

[2017-02-19 00:21] monicacecilia commented on #1
I vote "no" with you. I had removed the contact form last month (Jan2017) because it wasn't working. I think it is better to keep just the ISB gmail address.

[2017-03-09 09:25] Drosophilic opened #14 "BioDBcore.org URL not found"
The www.biodbcore.org URL used to redirect to a page on ISB, most likely this one:
http://biocuration.org/community/standards-biodbcore/
However it is currently returning a 'Not found' on the ISB website.

[2017-03-26 22:15] andrewsu commented on #7
add google analytics

[2017-03-27 00:25] andrewsu commented on #13
more relevant info in this presentation

https://stevegrunwell.github.io/wordpress-git/#/

particularly the .gitignore

https://stevegrunwell.github.io/wordpress-git/#/10

[2017-03-27 01:08] andrewsu commented on #12
confirmed that we can modify DNS entries through OVH control panel, and that OVH credentials added to lastpass.

[2017-03-27 01:08] #12 closed

[2017-03-27 01:10] andrewsu commented on #11
@monicacecilia can you test again?  Wondering if it got fixed with our SMTP updates associated with #10.  Can you also document how you test renewal notices in this ticket?

[2017-03-27 01:11] andrewsu commented on #9
Need a volunteer to write that copy.  After that's complete, should be simple to add to website...

[2017-03-27 01:13] andrewsu commented on #5
OVH apparently does not allow renaming of maililng lists.  We can try emailing OVH support -- perhaps they can do that via another method.

eventually I think we should just convert the mailing list to a google group or mailchimp.

[2017-03-27 01:14] #1 closed

[2017-03-27 01:15] andrewsu commented on #14
@monicacecilia is biodbcore.org an ISB asset?  I don't see it registered through the ISB account with OVH...

[2017-03-29 13:09] monicacecilia commented on #9
I prepared and provided Text, now included in notes (presentation) from March ISB-EC meeting and available on shared drive.

[2017-03-29 13:20] monicacecilia commented on #14
ISB does not own biodbcore.org
[This page](http://biocuration.org/community/standards-biodbcore/motivation/) discusses ways to implement BioDBCore standards via creating or claiming entries in [BioSharing](https://biosharing.org/).
@pgaudet was lead in 2011 effort that gave birth to BioDBCore, as well as populated the site with the information. Pascale, I would like for us to figure out the best w

[2017-03-29 13:23] pgaudet commented on #14
Hello,

I guess the domain name expired and I didn't notice ! We could but it
again. I let you guys decide.

Anyways it was pointing here: https://biosharing.org/databases/

Cheers,

Pascale

On Wed, Mar 29, 2017 at 3:20 PM, Monica Munoz-Torres <
notifications@github.com> wrote:

[2017-03-29 13:35] Drosophilic commented on #14
Hi all,
Yes, BioSharing now maintains a registry of all databases using BioDBcore
IDs, but we don't own the bioDBcore.org domain. Anything related to
BioDBcore should point towards BioSharing. I'm happy to update the page on
ISB.

On 29 March 2017 at 14:23, pgaudet <notifications@github.com> wrote:

[2017-03-29 19:14] andrewsu commented on #14
The whois record seems to suggest that it is registered until 2019 https://whois.icann.org/en/lookup?name=biodbcore.org .  There is an obfuscated email address there in case anyone wanted to try to track down the owner...

Note also that the current set up is pretty brittle.  biodbcore.org points to 205.178.189.131, which then tries to load http://biocurator.org/biodbcore.shtml in an IFRAME, which

[2017-03-29 20:36] pgaudet commented on #14
I used to own the domain. I think Susanna's group did the redirect.

Pascale

Le 29 mars 2017 9:14 PM, "Andrew Su" <notifications@github.com> a écrit :

The whois record seems to suggest that it is registered until 2019
https://whois.icann.org/en/lookup?name=biodbcore.org . There is an
obfuscated email address there in case anyone wanted to try to track down
the owner...

Note also that the curren

[2017-03-29 21:37] kltm opened #15 "Set up SSL certificate to route all traffic via https"
When I arrive at biocuration.org, there is a login section. The site does not switch to https by default, so my password would be sent in the clear; not good considering there is a payable membership component. Examining the document, the action for the POST is also plain http.

If I manually try and change the URL to https, the certificate is apparently only valid for ssl13.ovh.net and www.ssl13.

[2017-03-30 03:13] andrewsu commented on #9
@monicacecilia forgive me, I'm probably missing something obvious here, but I can't find the text you wrote.  In the March EC meeting minutes I only see a link to the google drive, but I can't find the specific text you want posted to the website.  Can you put the link to that document directly in this ticket?

[2017-03-30 18:50] andrewsu opened #16 "Create build-and-deploy protocol for code changes"
Create step-by-step build-and-deploy protocol for updating code repo, including updating of plugins.  It is preferable if this protocol can utilize wpengine’s “staging” instance, but also acceptable to use AWS instance.

[2017-03-30 18:51] andrewsu opened #17 "Migrate biocuration.org to wpengine"
@andrewsu can manage DNS update and provide wpengine credentials

[2017-04-26 15:18] carighi opened #18 "Add place for ORCID in member profile"
In member profile add a place to add ORCID ID. These could be used to cross-check membership by Database for getting discount.

[2017-07-28 20:17] Drosophilic commented on #6
Thinking a bit more about this, perhaps we should allow members to add their own tags first, and then if necessary, we can structure these tags.

[2017-07-28 20:30] Drosophilic commented on #14
I've re-written the offending page so the orphaned biodbcore.org domain is not necessary.

[2017-07-28 20:30] #14 closed

[2017-08-14 22:43] andrewsu commented on #17
completed by @rousnay

[2017-08-14 22:43] #17 closed

[2017-08-14 22:45] andrewsu commented on #13
completed by @rousnay in f659138c80aca2b4171b24e627697f60ca24efb0

[2017-08-14 22:45] #13 closed

[2017-08-14 22:46] andrewsu commented on #15
completed by @rousnay in https://github.com/biocuration/isb-website/commit/0fd6543559f4aa514bdb504f42d406eeae125c9a

[2017-08-14 22:46] #15 closed

[2017-08-14 22:48] andrewsu commented on #16
fixed by @rousnay in https://github.com/biocuration/isb-website/commit/ef0a7c186f4ccec1006e3d4f26e86faa2bf9b80a through https://github.com/biocuration/isb-website/commit/862bf5f976280c10d288091df8944247011d81d3

[2017-08-14 22:48] #16 closed

[2017-08-15 12:24] Drosophilic commented on #3
1. Could we ask members to add their database bioDBcore ID when they fill in their membership form? (if they don't know what it is or their resource doesn't have one, we could point them towards FAIRsharing where they can get one)

2. We could add a page to the community menu outlining these recommendations (i.e. make sure your resource has a bioDBcore ID/is in FAIRsharing.org, mark-up your databa

[2017-08-15 14:17] monicacecilia commented on #11
Tests have been successfully sent and received.

To testing email templates, including the renewal notices, navigate to:
1. Dashboard
2. Memberships
3. Email Templates
4. Choose 'Membership Expiring' or 'Membership Expired' from dropdown menu, then click on 'Save Template and Send Email.'

However, Cecilia mentioned she did not get a renewal notice - could be either the scheduling or a spam filter

[2017-08-15 15:47] andrewsu opened #19 "when logged in, need link to wordpress dashboard"
When first logging in, users are redirected to the wordpress dashboard.  From there, one can get back to the site using the "visit site" link in the upper-left.  From that state, there does not appear to be a way to get back to the wordpress dashboard.

[2017-08-15 16:29] andrewsu commented on #11
From Sylvain:

[2017-08-16 08:15] Drosophilic opened #20 "System to generate a report showing membership history for each user"
Create system that will generate report showing membership history for each user

As part of this we need to evaluate https://www.paidmembershipspro.com/add-ons/plus-add-ons/pmpro-member-history/

[2017-08-16 08:16] Drosophilic opened #21 "Add google analytics and grant access to ISB Exec"

[2017-08-16 08:20] Drosophilic opened #22 "Move login form"
Move login form in left nav to prominent "Join or renew membership" button in right header.

[2017-08-16 08:20] Drosophilic opened #23 "Re-skin http://biocuration.org/wp-login.php to be like rest of site"

[2017-08-16 08:23] Drosophilic opened #24 "Login screen update - ask for email rather than username"
From https://groups.google.com/forum/#!msg/intsocbio_ec/nRAc0Mas3_A/XKYJmv93DgAJ

[2017-08-16 08:31] Drosophilic opened #25 "Add a link to the login recovery page"
Add a link to the login recovery page:
https://biocuration.org/wp-login.php?action=lostpassword

~~from the login page:
https://biocuration.org/wp-login.php~~

**EDIT 2017-10-08**: from the front-page login widget: e.g.,

![2017-10-08_20-05-46](https://user-images.githubusercontent.com/2635409/31324131-4b785ede-ac64-11e7-9da6-fc3a563fba0c.png)

[2017-08-16 08:54] Drosophilic commented on #20
From Ceci:
In the page https://www.biocuration.org/membership/membership-levels/ it would be nice to see when the membership expires. Currently I see what type of membership I have and have a link to renew, but no indication when it expires, unless I missed it. Ah I see that the info is in account info. Do we want to add it in this page as well?

[2017-08-16 08:56] Drosophilic opened #26 "Enable multi-year memberships"
For those lucky people replete with grants to afford multiyear subscriptions.

[2017-08-17 08:00] sandraorchard commented on #26
Will need intelligent link to Renewals, so we don't them irritate them with continual notification to renew, until it is actually due.

[2017-08-23 15:19] sandraorchard commented on #2
How do we make it clear this is limited to only their articles on the process of biocuration as the main subject, and not just a list of the NAR publications on their resource (assuming this is what you intend). I can see people copying their entire back catalogue in, if we are not careful.

[2017-08-24 06:21] zhangzhangcn commented on #26
badly needed, multiple-year membership payment

[2017-08-26 23:14] monicacecilia commented on #9
Actually, we have had one such page "Why join the ISB" since __February 9th of 2014__. It can be found under Membership / Why join the ISB?

I have updated the information there with the details I shared back at the Biocuration conference in Palo Alto.

See https://www.biocuration.org/membership/join-isb/

[2017-08-26 23:14] #9 closed

[2017-08-29 21:08] carighi commented on #11
Ceci: 1++

[2017-08-29 21:09] carighi commented on #24
Ceci 1++

[2017-08-29 21:09] carighi commented on #18
Ceci 1++

[2017-08-29 21:10] carighi commented on #25
Ceci 1++

[2017-08-29 21:10] carighi commented on #8
Ceci 1++

[2017-08-29 21:12] carighi commented on #26
Ceci: 1+

[2017-08-29 21:13] carighi commented on #23
Ceci: 0. Not essential now.

[2017-08-29 21:14] carighi commented on #22
Ceci: 1++

[2017-08-29 21:15] carighi commented on #21
Ceci: 1+. This is important, but I would first solve the usability issues.

[2017-08-29 21:16] carighi commented on #19
Ceci: 1+

[2017-08-29 21:17] carighi commented on #7
This one is ongoing

[2017-08-29 21:19] carighi commented on #6
Ceci: 0. I think this is something that can wait for next round, but would be really nice to have

[2017-08-29 21:20] carighi commented on #4
Ceci: 0.

[2017-08-29 21:20] carighi commented on #3
Ceci: 0.

[2017-08-29 21:21] carighi commented on #2
Ceci: 0.

[2017-08-30 15:49] andrewsu opened #27 "forgot password link not showing up"
If user enters the wrong password, a link to reset the password should show up.  This is what's shown on staging (https://biocuration.staging.wpengine.com)
<img width="340" alt="staging" src="https://user-images.githubusercontent.com/2635409/29881625-f8c6750e-8d5f-11e7-890c-3d0f4bcde1ee.png">

But the link is absent from production:
<img width="316" alt="prod" src="https://user-images.githubuserco

[2017-09-12 19:22] monicacecilia commented on #26
+ from @selewis

[2017-09-12 19:22] monicacecilia commented on #25
+1 from @selewis

[2017-09-12 19:22] monicacecilia commented on #24
++ from @selewis

[2017-09-12 19:23] monicacecilia commented on #21
+1 from @selewis

[2017-09-12 19:23] monicacecilia commented on #18
++ from @selewis

[2017-09-12 19:23] monicacecilia commented on #11
++ from @selewis

[2017-09-12 19:24] monicacecilia commented on #8
+1 from @selewis

[2017-09-12 19:26] monicacecilia commented on #27
Discussed again on 2019-09-12 EC meeting.
We have sent URL to users with recently expired / soon to expire memberships (to end of Sept 2017).

[2017-09-12 22:56] andrewsu commented on #26
There are two settings in the PMP Pro configuration, one for "recurring subscription" and "membership expiration". Currently, we have the first one unchecked and the second one checked (set to one year).
<img width="784" alt="pmp" src="https://user-images.githubusercontent.com/2635409/30351906-5fbc1454-97d2-11e7-86c9-1935c53d6b3f.png">

I *think* if we switch those two checkboxes, we will get the

[2017-09-20 11:01] monicacecilia commented on #26
Yes, we need to test.

I am wondering what happens with the changes.
I suspect (like you) that ticking the 'Check if this level has a recurring subscription payment' box alone will not necessarily help with switching a payment for up to five years (for example). Also, it may only mean that members are allowed to set up a recurrent payment with their account - an automatic withdraw from whichever a

[2017-09-20 11:02] monicacecilia commented on #26
Oh, we could offer a discounted 5-year version of each of the current category and modify the expiration date for those discounted categories. We'd need to figure out how to work that out on WP...

[2017-09-20 15:48] andrewsu commented on #26
@monicacecilia yeah, you're right, the changes I proposed don't exactly address the issue of multi-year memberships.  Though still would be a useful step forward IMHO.

If you want to play:
Staging site: https://biocuration.staging.wpengine.com/
Login: https://biocuration.staging.wpengine.com/wp-admin

[2017-09-22 17:40] rousnay commented on #27
@andrewsu @monicacecilia SOLVED!

[2017-09-22 17:42] andrewsu commented on #27
great! Can you describe the solution please? This one was very puzzling to me...

[2017-09-22 17:48] rousnay commented on #27
@andrewsu  I have checked user.php file in wp-include folder but the file was perfect, then disabled few security plugin but the issue was persist, then I search by "Lost your password" in theme folder and I found that this option was disabled by custom code in theme's function.php file (line 26-31)

[2017-09-22 17:54] andrewsu commented on #27
https://github.com/biocuration/isb-website/commit/8ba5993545211507f15f4b3d5d3e0745e34b8a63

very interesting...  I'm still confused as to why that function didn't *also* remove it from the staging site. If you have thoughts on that, please let me know (as it may point to an issue with my deploy procedure).

Also, I noticed three new files in the commit.  Are those also a necessary part of the solu

[2017-09-22 18:10] rousnay commented on #27
I). Three other files ( .htaccess, WPENGINgitignore.txt, recommended-gitignore-no-wp.txt) are ignored by .gitignore (what i had written once) but now I am using updated .gitignore file (written by you) where the text file and .httaccess are not in ignore list. anyway, .htaccess optional but some times they do important job, it is better to keep it in server. and other two files are nothing but som

[2017-09-22 18:22] andrewsu commented on #27
Got it.  Yes, I like your suggestion to keep .htaccess and remove the other two. Please make that change.

My confusion on staging was that I had pushed the same code to both of them (I think) and saw different behavior.  Anyway, not a big issue, no need to investigate more...

Thanks! Closing ticket now...

[2017-09-22 18:22] #27 closed

[2017-09-22 18:36] rousnay commented on #27
@andrewsu Unwanted files has been removed and my git environment has pointed to staging version, I would suggest you to push the updates in github first and then wpengine staging as we working together. I will pull changes from github first and then push to github then to staging so that you can get my updated codes from github to your local machine.
and finally we can copy the staging version to

[2017-09-24 18:20] rousnay commented on #11
![image](https://user-images.githubusercontent.com/456973/30785275-92307354-a186-11e7-9a67-b0df91ffe229.png)

@andrewsu , It is sending test email. can i create a demo member with a very short expiration date? so that I can test whether it is working for scheduled email or not.

[2017-09-24 18:41] andrewsu commented on #11
Yes, no problem. Please clearly indicate that it is a test user. Thanks!

On Sep 24, 2017 11:20 AM, "Md. Mozahidur Rahman" <notifications@github.com>
wrote:

[2017-09-25 20:23] andrewsu commented on #27
@rousnay sorry, missed replying to this.  I am not actively doing anything regarding code changes at the moment.  (I will let you know if that changes.)  So you can go ahead and push to production and staging whenever you are ready.  When I go to do any further development, I will pull from github directly...

[2017-09-26 17:17] rousnay commented on #11
@andrewsu , After creating a test member with very short expiration date (27th sep) I didn't receive any email yet.
I have a question, is this notification email option is default by this membership plugin? or it is an optional functionality added using add-on (Extra Expiration Warning Emails Add On)?

If this is the add-on (https://www.paidmembershipspro.com/add-ons/extra-expiration-warning-email

[2017-09-26 19:04] andrewsu commented on #11
Unfortunately, I don't have the answer for you. We don't have access to
person who set that up. Can you investigate please? Also, it may be that
this is a paid feature -- if that's the case, then let me know and we will
sign up for a paid subscription.

On Tue, Sep 26, 2017 at 10:17 AM, Md. Mozahidur Rahman <
notifications@github.com> wrote:

[2017-09-26 19:15] rousnay commented on #11
@andrewsu , No worries :)
let me investigate, I have set the expiration date to 6th October, so it should sent notification within 29th September (7 days prior to their expiration date). after 30th September I will take farther steps.

[2017-10-02 07:30] rousnay commented on #11
@andrewsu , after waiting of 8 days I didn't get the notifications yet. I will take farther steps tonight.

[2017-10-06 09:29] rousnay commented on #11
![image](https://user-images.githubusercontent.com/456973/31271833-b1de801a-aaaa-11e7-8baf-b5939453bb47.png)

![image](https://user-images.githubusercontent.com/456973/31271708-3e03b93a-aaaa-11e7-9621-cb1a7daee25d.png)

![image](https://user-images.githubusercontent.com/456973/31271982-21c1efca-aaab-11e7-9ec6-15a1c3529d80.png)

![image](https://user-images.githubusercontent.com/456973/31271911-e35

[2017-10-06 13:13] andrewsu commented on #11
Apparently reminder/warning emails went out this morning to many people who
should not have received one. I will follow up with more details. I should
have thought of this earlier, but we need to do any further debugging of
this plugin on staging with the user database trimmed to a bunch of test
users...

On Oct 6, 2017 2:29 AM, "Mozahidur Rahman" <notifications@github.com> wrote:

[2017-10-06 13:37] rousnay commented on #11
Oh, sorry for this inconvenience, we should have export/backup the staging database and then removed all the users except demo one.

can i process this?

[2017-10-06 13:42] andrewsu commented on #11
If you are doing further testing, then yes please.

On Oct 6, 2017 6:37 AM, "Mozahidur Rahman" <notifications@github.com> wrote:

[2017-10-06 13:46] rousnay commented on #11
@andrewsu , just for notice, please remember that

we will always update the production version from our local machine via git push.

[2017-10-06 14:11] andrewsu commented on #11
Thank you, noted!

On Oct 6, 2017 6:46 AM, "Mozahidur Rahman" <notifications@github.com> wrote:

[2017-10-08 17:24] rousnay commented on #11
@andrewsu ,

The problem has been fixed!

I have got the warning notification last two consecutive days as expected.

![image](https://user-images.githubusercontent.com/456973/31319091-294cc19a-ac7f-11e7-87de-2244d24f0fd3.png)

![image](https://user-images.githubusercontent.com/456973/31319096-3a619276-ac7f-11e7-9614-8b05f9f6321b.png)

now let me know the day interval to send warning notification,

[2017-10-08 17:31] rousnay commented on #25
@andrewsu ,
can you please explain with more words? because it seems the page already has login recovery link;
![image](https://user-images.githubusercontent.com/456973/31319202-c82b828c-ac80-11e7-8789-ef132fbb6d9a.png)

[2017-10-08 17:37] rousnay commented on #24
@andrewsu , I can't see the details in google group since i am not he member of this group. can you add me please or explain this issue in details?
I think it says the login form should only ask for email address, not username (currently it works either way).

[2017-10-08 17:41] rousnay commented on #21
@andrewsu , I don't understand the phrase "grant access to ISB Exec ", and should I add the google analytics to my google developer tools account? and then I can transfer the ownership to you.
or you can give me access relevant google account to add analytics.

[2017-10-09 03:09] andrewsu commented on #25
@rousnay you're right.  That link does appear on the login page.  I was going to close the issue, but instead have changed it to add a "Forgot password" link to the home page.  Please see the first comment in this issue, which I've just updated...

[2017-10-09 03:10] andrewsu opened #28 "remove odd login logo from the home page"
Remove the icon highlighted by the red arrow below:

![2017-10-08_20-05-46](https://user-images.githubusercontent.com/2635409/31324162-b4356110-ac64-11e7-968d-f752a9896c75.png)

[2017-10-09 03:14] andrewsu commented on #24
please make this very minor change from "Username" to "Username or email":

![2017-10-08_20-13-10](https://user-images.githubusercontent.com/2635409/31324211-4484119e-ac65-11e7-97f4-3dd47ac9d419.png)

[2017-10-09 03:20] andrewsu commented on #21
@rousnay Is all you need a tracking id?  I just created one here: UA-107767284-1.  Don't worry about the "ISB Exec" part...

[2017-10-09 03:24] andrewsu commented on #11
Please set notification to 60, 30, 7, 3, and 1 days.  Please also note the commit ID in a comment so we can easily see how to adjust these.  (I'm assuming it will be an update in a configuration file.)

[2017-10-09 18:09] rousnay commented on #24
@andrewsu , Done!

[2017-10-09 18:09] rousnay commented on #25
@andrewsu , Done!

[2017-10-09 18:15] rousnay commented on #11
@andrewsu , Done!
commit: https://github.com/biocuration/isb-website/commit/a6c85ffedd339521059d11b1a847b3b4a3d7810a

[2017-10-09 18:18] rousnay commented on #25
@andrewsu ,
file: isb-website/wp-content/themes/twentyfourteen-isb/footer.php
commit: https://github.com/biocuration/isb-website/commit/fff384c009627dfb31e276a5223d2d26b912b0fe

[2017-10-09 18:22] rousnay commented on #21
@andrewsu ,
Please check the google analytics whether it is working or not.

File: https://github.com/biocuration/isb-website/blob/master/wp-content/themes/twentyfourteen-isb/header.php

commit: https://github.com/biocuration/isb-website/commit/2c9460d7518e5f70769188d3c99b95c77fadb052

[2017-10-09 18:24] rousnay commented on #28
@andrewsu , Done!

it was removed from Widget settings since this login form was added via widget are.

[2017-10-09 22:56] andrewsu commented on #21
No data is being recorded so far.  I granted you access to the google analytics report...

[2017-10-10 14:12] rousnay commented on #21
@andrewsu , It seems the analytics is working as expected, remember that the analytics code is currently placed only in STAGING version, not in PRODUCTION version.

![image](https://user-images.githubusercontent.com/456973/31390965-14de15aa-adf7-11e7-8efa-af8e5fd27c68.png)

[2017-10-10 16:27] andrewsu commented on #21
super, looks great!  (I will close these tickets once we push to production and verify all is working there...)

[2017-10-10 16:30] andrewsu commented on #28
which widget controls this?  Also, the image still shows up after user is logged in -- let's remove this too...

[2017-10-10 16:31] andrewsu commented on #24
I don't see this change on https://biocuration.staging.wpengine.com/. can you confirm?

[2017-10-10 17:33] rousnay commented on #24
@andrewsu , sorry widget was get back to old setting since i imported old database after changing the widget settings, not it has fixed.

widget area:
![image](https://user-images.githubusercontent.com/456973/31401018-555013c4-ae13-11e7-8ede-bdff25bab651.png)

[2017-10-10 17:34] rousnay commented on #28
Removed.
widget settings  area:
![image](https://user-images.githubusercontent.com/456973/31401074-7fa17668-ae13-11e7-863c-6585ad873580.png)

[2017-10-10 17:35] rousnay commented on #21
okay

[2017-10-12 19:28] monicacecilia commented on #11
Hi @rousnay & @andrewsu. I'd like to thank you both for all the efforts in updating and fixing this issue.

Unfortunately, it appears that we are now sending daily renewal notices, and repeatedly to at least some of our members. One of my coworkers send me a message to let me know that she had received 'yet another reminder to renew'. I checked and indeed there was a group of messages yesterday mo

[2017-10-12 20:43] andrewsu commented on #11
@monicacecilia I _think_ 🤞 that everything is working correctly here.  First, all the emails were initiated from our production server, not our staging server, so the links go to the right place.  Second, I spot checked the expiration dates stated in the emails and all of them were correct.  Third, all of the emails are within 60 days of expiration (which is the first notification).  So let's watc

[2017-10-12 21:06] #28 closed

[2017-10-12 21:09] andrewsu commented on #25
another relevant commit: https://github.com/biocuration/isb-website/commit/9fa5adcc5e2c279c32a675df138a788c98098fdc?diff=unified

[2017-10-12 21:09] #25 closed

[2017-10-12 21:10] #21 closed

[2017-10-12 21:11] #24 closed

[2017-10-12 21:17] andrewsu commented on #23
I suggested this originally, but realize now it only applies to editors/administrators.  So closing...

[2017-10-12 21:17] #23 closed

[2017-10-12 21:19] andrewsu commented on #19
This issue only applies to editors/administrators, who can use the link in the top header.  Closing issue...

[2017-10-12 21:19] #19 closed

[2017-10-12 21:26] monicacecilia commented on #11
@andrewsu - please see what I just found out:

The user I was looking at has a membership expiring on 17 October. According to the schedule, correctly scheduled reminders should go out on October 10, 14, and 16.
Instead, user received consecutive reminders on October 11 and 12 - this is *after* the emails you sent out with our apologies on October 10th (user had also gotten one that day).

Of note

[2017-10-12 22:03] andrewsu commented on #11
Let's give it one more day.  If they get an email tomorrow, something is clearly wrong.  But the emails that went out this morning _could_ have been the reminder system "catching up" with the older reminder(s) (Oct 10 or before) on production.  If all goes well, the user you are talking to should next receive emails on Oct 14 and 16.  You might prep them so they know what to expect.

The other goo

[2017-10-13 06:36] rousnay commented on #11
Sorry for this inconvenience, I do agree with @andrewsu about

Let me explain - how this add-on works (as per plugins official documentation).

In our custom setting it is 1, 3, 7, 30 and 60 days. so after very first implementation of this plugin it will send the notification the the users those who in the **MIDDLE** of the day interval cycles - 1 to 3, 3 to 7, 7 to 30 and 30 to 60 days. long stor

[2017-10-13 15:06] andrewsu commented on #11
no emails went out this morning, which I think is a good sign...

[2017-10-13 19:55] andrewsu commented on #22
If anyone has a specific suggestion on how they would like to see this implemented, please make a note in this issue.  Mockups and/or links to other sites will be needed to get the ball rolling here...

[2017-10-13 20:00] rousnay commented on #22
how about - login form to show in popup window after clicking the button "Join or renew membership"?
or a toggle hid/show window attached to the button?
Feel free to suggest anything you like, complexity doesn't matter.

[2017-10-14 11:42] carighi commented on #22
On one hand in the page https://www.biocuration.org/membership/join-isb/
I would add a prominent button on the right corner to say "Join/Renew now"
and go to the https://www.biocuration.org/membership/membership-levels/
because currently the link to join membership is at the end.

IN home page, I would add below Why ISB? an option to  Join/Renew
membership and will go to the
https://www.biocuratio

[2017-10-14 12:11] carighi commented on #22
I just realized that the item proposed is to move in the login to change to
item in menu as join/renew membership.

In my opinion the login should not be moved, login is used for other
purposes other than renewing membership. I think people have access to
member names (at least in the past), and maybe other things.

I think the same I proposed the button Join/renew membership in the
https://www.bi

[2017-10-16 15:59] andrewsu commented on #11
Again reviewing the emails from the last few days, it looks like all is working well now.  @monicacecilia would you like to review before I close this issue?

[2017-10-16 16:07] andrewsu commented on #8
someone added this to the left nav bar, so closing this issue.

[2017-10-16 16:07] #8 closed

[2017-10-18 04:49] monicacecilia commented on #11
Thanks @andrewsu. I have reviewed, and we are not quite ready to close it yet.
A double-message schedule took place today. Everyone who was scheduled to receive a message today (those with upcoming expiration dates and those with already expired memberships) received two of them instead, 3.5 hours apart in all cases. Something is still not quite right - we should only be sending out one message at

[2017-10-18 05:25] andrewsu commented on #11
Just to add a couple more details -- the double emails went out to several people whose membership expired today, as well as one person whose membership expires 7 days from now.  All reminder emails from yesterday and the day before yesterday were single emails.  @rousnay any thoughts on what might be going on?

[2017-10-23 17:08] andrewsu commented on #11
not seeing more double emails. will continue watchful waiting...

[2017-10-23 17:20] andrewsu opened #29 "documenting behavior of recurring memberships"
this issue is to document how PMP's "recurring memberships" work from the end user perspective.

[2017-10-23 17:23] andrewsu commented on #29
settings for "test" membership level

<img width="1178" alt="2017-10-23_10-22-46" src="https://user-images.githubusercontent.com/2635409/31903177-392f1942-b7dc-11e7-84d8-489eccd3adb3.png">

[2017-10-23 17:25] andrewsu commented on #29
sign up message from website after entering paypal info

<img width="535" alt="2017-10-23_10-21-25" src="https://user-images.githubusercontent.com/2635409/31903202-4dbc6afe-b7dc-11e7-9bcd-4d61ea908813.png">

[2017-10-23 17:26] andrewsu commented on #29
welcome email

[2017-10-23 17:30] andrewsu commented on #29
welcome email on recurring payment from paypal

<img width="682" alt="2017-10-23_10-29-20" src="https://user-images.githubusercontent.com/2635409/31903509-283851a2-b7dd-11e7-9820-90d26724e78a.png">

[2017-10-30 11:10] rousnay commented on #11
@andrewsu , sorry, I missed this notification. is the bug persist?

[2017-10-30 11:13] rousnay commented on #22
Is there any final update about this implementation?

Rousnay

[2017-10-30 18:29] andrewsu commented on #29
next notice was the charge from paypal -- no warning/altert from either wordpress or paypal.
![2017-10-30_11-25-03](https://user-images.githubusercontent.com/2635409/32188604-7f136272-bd65-11e7-8bb6-ff63b39c6b1f.png)

@rousnay can you check why I did not receive warning emails from staging?  Are they designed not to be sent on recurring payments?  Can we set them up so that warning/notification em

[2017-10-30 23:20] andrewsu commented on #11
Between Oct 19 and Oct 28, 20 reminder emails (subscription "will end soon" or "has ended") were sent, and among these, there was one example (on Oct 28) where a double email was sent.  So not a high priority ticket, but let's keep this issue open for a while just as a reminder to periodically check in to make sure it hasn't increased in frequency.

[2017-10-31 10:59] rousnay commented on #29
@andrewsu , Membership plugin don't offer this option (or disabled intentionally), they rather offer an add-on to use this feature https://www.paidmembershipspro.com/add-ons/recurring-payment-email-reminders/

[2017-11-01 19:32] rousnay commented on #29
and also note that, yesterday i have remove some more user from the admin panel, these users are not the admin, subscriber or any privilege, not even have any membership. previously I skipped them by mistake.

[2017-11-06 17:26] rousnay commented on #29
@andrewsu , is there any update about this issue? if you are planning to implement this add-on, you can provide me this add-on so that i can go for next step.

[2017-11-08 10:08] monicacecilia opened #30 "Error: Express checkout payer ID missing"
Two users have reported that, upon clicking on the 'Complete Payment' button using PayPal, they get an error that reads "Express checkout payer ID missing."

Both reports were issued via email.

The first report, from 2-Oct-2017, was solved by updating the user's membership type (it was missing for some reason), and adding an expiration date (also missing) to her member profile. After that, the us

[2017-11-08 15:28] carighi commented on #30
I search this error message in Google, and  there seems to be a problem with wordpress and paypal express, here are some links that may help providing an answer to this:
https://www.paypal-community.com/t5/About-Payments-Archive/Express-Checkout-PayerID-is-missing/td-p/905209
http://www.webassist.com/forums/posts.php?id=20525
https://wordpress.org/support/topic/paypal-express-checkout-error-2/

[2018-01-24 10:16] Drosophilic opened #31 "Explore adding widget from ELIXIR TeSS focusing on Biocurator training materials and events"
ELIXIR TeSS collates training materials and events (not just in Europe) from Goblet, ELIXIR and more. As I work with TeSS and their developers as part of ELIXIR-UK, I'll explore how we can add a widget to display Biocurator-relevant training and events on the ISB website.

[2018-01-24 10:18] Drosophilic opened #32 "Mark-up the ISB website with bioschemas.org"
Bioschemas.org aims to improve data interoperability in life sciences. It does this by encouraging people in life science to use schema.org markup, so that their websites and services contain consistently structured information. This structured information then makes it easier to discover, collate and analyse distributed data.

Disclaimer: I was involved in creating the bioschemas datacatalog sche

[2018-02-14 06:33] andrewsu opened #33 "create "Join the ISB" button in the right nav bar"
The button to join the ISB (for users who are not logged in and already members) should be more prominent.  I suggest something like this:

![join_isb](https://user-images.githubusercontent.com/2635409/36190542-ca4ae048-110d-11e8-800b-28745f122c55.jpg)

[2018-02-14 06:40] andrewsu opened #34 "Move "members' zone" to header"
Currently there is a "Members' Zone" link under the "Membership" menu item in the navigation bar.  But, for users who are not logged in, the site directs the user to a blank page, to the membership signup form, or the home page.  Better to display the Member Zone only to users who are logged in.  I suggest something like this:

![member_header](https://user-images.githubusercontent.com/2635409/361

[2018-02-14 07:12] andrewsu commented on #30
On further look at this, looks like this is a wpengine issue. Two additional links:

https://wordpress.org/support/topic/10419-express-checkout-payerid-is-missing-2/
https://wpengine.com/support/wpengine-ecommerce/

[2018-02-14 07:48] andrewsu commented on #30
More specific guidance from Paid Memberships Pro here: https://www.paidmembershipspro.com/wp-engine/

Asked wpengine support to exclude membership-checkout/*, /membership-account and /wp-admin/admin-ajax.php

All appears to be working now...  (fingers crossed)

[2018-02-14 07:48] #30 closed

[2018-02-14 15:44] carighi commented on #30
OK, thank you Andrew for looking further into this!
So from what I understand it should be working now!
We will ask our EC members to try in tomorrow's meeting (with the blessing
from Sandra that she will be able to reimburse)
Best
ceci

On Wed, Feb 14, 2018 at 2:12 AM, Andrew Su <notifications@github.com> wrote:

[2018-02-14 18:22] andrewsu opened #35 "evaluate mailchimp versus google groups"
We need to get our mailing list off of OVH.  The question is to what.  Mailchimp and Google groups seem like the obvious answers.  Need someone to evaluate which is best (pro/con list) and devise a migration strategy.

Criteria (incomplete -- please add)
* cost
* A/B testing
* automatic sync with wordpress member list
* viewing archives
* interacting with each other

Also relates to #5

[2018-02-14 18:36] andrewsu opened #36 ""Edit your profile" feature does not work"
When logged in, I click the "Edit profile" menu item under "Members' Zone".

https://www.biocuration.org/membership/members-zone/edit-profile/ :

![2018-02-14_10-33-47](https://user-images.githubusercontent.com/2635409/36221318-9503692c-1172-11e8-8c39-aeabb4d40df1.jpg)

Clicking link leads to wordpress login page:

![2018-02-14_10-34-29](https://user-images.githubusercontent.com/2635409/36221355-a

[2018-02-28 01:44] andrewsu commented on #5
moving off of OVH, so moot point...

[2018-02-28 01:44] #5 closed

[2018-02-28 17:33] andrewsu opened #37 "create uptime monitor for biocuration.org"
Actively notify us if our website goes down

[2018-02-28 17:35] andrewsu commented on #37
monitoring now set up through uptimerobot.com with alerts going to intsocbio@gmail.com.  Login credentials shared with the ISB lastpass account.

![2018-02-28_9-33-56](https://user-images.githubusercontent.com/2635409/36802761-a5bc1f04-1c6a-11e8-8da4-72b5d38ee910.jpg)

[2018-02-28 17:35] #37 closed

[2018-02-28 17:38] andrewsu opened #38 "set up automatic payment/renewal of biocuration.org"
Need to coordinate with @sandraorchard to add paypal information to OVH billing.

[2018-03-01 00:06] kltm opened #39 ""Early" renewal causes membership period to shift backwards"
User `sjcarbon`

From my reminder message:
"This is just a reminder that your membership will end on March 7, 2018."

I paid (renewed) today for a year, with the new expiration on: "March 1, 2019". It seems like the renewal algorithm is off--it should be renewing from my current expiration date, not today's date.

[2018-03-13 18:12] kltm opened #40 "Receiving bogus(?) membership information over email"
When I login to biocuration.org, my membership expiration is listed as: March 1, 2019 .

However, your staging(?) server seems to believe that it has just expired:

[code]

[2018-03-14 00:25] andrewsu commented on #40
thank you @kltm for reporting this bug.

I tracked down the issue in our build/deploy process and fixed it in b1ee48d5735898e98c0f3d08ca1e906bccf6da56. Now checking to see if anyone actually renewed through the staging site.  Will also need to send out mea culpa emails to everyone who received these erroneous expiration reminders...

[2018-03-14 00:29] kltm commented on #40
NP and thank you. Just so you know, I first got this at "12:43 AM" and have just gotten another one now at "05:25 PM" (assuming deployment caused it to trigger again?).

[2018-03-15 12:13] sandraorchard opened #41 "Exchange Fellowship"
Add page travel Fellowships, child of Community.
Add text to page https://docs.google.com/document/d/1BkMT0iRZdbstHRSGzyer0HVaqAZHp6_UjTYZxC1Yi9s/edit#heading=h.co2diagh924g
Link from membership>Why join the Society
 Leadership, Recognition, Awards, Funding

    Opportunities to lead and influence the field with your vision.
    ISB Awards – Career, Exceptional Contributions.
    Travel Fellowship

[2018-03-20 17:54] nicolevasilevsky commented on #41
done

[2018-03-20 17:54] #41 closed

[2018-03-20 18:21] andrewsu commented on #40
all mea culpa emails sent. One user who payed a duplicate renewal via the staging site has been contacted for refund.  @sandraorchard, can you close this ticket when the refund has been processed?

[2018-03-20 19:34] sandraorchard commented on #40
Done

[2018-03-20 19:34] #40 closed

[2018-03-21 18:04] andrewsu commented on #35
migration to google groups in progress https://groups.google.com/forum/#!forum/isb-biocuration

[2018-04-03 04:56] andrewsu commented on #35
migration complete

[2018-04-03 04:56] #35 closed

[2018-04-03 16:50] nicolevasilevsky commented on #35
Thanks @andrewsu!

[2018-04-24 17:38] nicolevasilevsky opened #42 "add examples of microgrant funding to website"
Add to website: in the past, microgrants have been used to fund poster session room rentals, offering assistance for travel

All: Please add more examples if you know of any

[2018-04-24 18:09] sandraorchard commented on #42
Speaker costs (though I suspect that was a euphemism for travel costs for participants).
Other costs meetings incur:
Attendee accommodation
Admin costs
Bus hire, accommodation to venue

[2018-05-03 18:54] nicolevasilevsky opened #43 "link to 1st Biocuration Conference Group Picture is missing"
on this page https://www.biocuration.org/community/conferences/international-biocuration-meetings/

the link to the '1st Biocuration Conference Group Picture' is missing. We should remove this link if we no longer have the picture.

[2018-05-03 18:54] nicolevasilevsky commented on #43
also the link to info about the 1st conference is missing too

[2018-05-15 17:18] Drosophilic commented on #42
Website updated - https://www.biocuration.org/community/microgrants/

[2018-05-15 17:18] #42 closed

[2018-05-15 17:30] Drosophilic commented on #34
I'm having difficulty getting the site to let me do this. Let me spend a little more time on this to see if I can figure it out.

[2018-05-16 19:40] Drosophilic commented on #31
Update: Working with Niall Beard (ELIXIR/Goblet/TeSS) on the TeSS code.

[2018-05-17 15:42] carighi opened #44 "Update mailing list in website"
Please update the isb mailing list to reflect the google group mail.

[2018-05-17 15:44] sandraorchard opened #45 "13th conference call"
Please update http://biocuration.org/call-host-the-12th-international-biocuration-conference/

to be the 13th conference, text as in email (below).

Dear Colleagues,

 The Executive Committee of the International Society for Biocuration would like to once again invite tenders to host the 13th International Biocuration Conference during the Northern Spring or Summer of 2020.

 Individuals and organ

[2018-05-17 15:56] carighi opened #46 "Membership fees"
Add 3 new rows:
1-Biocurator, Developer, Bioinformatician (Developing country)
2-Principal Investigator (Developing country)
3-Student (Developing country)

Apply rates based on discussion of existing structure in other places.
Provide link to list of Developing countries

[2018-05-18 14:28] Drosophilic commented on #31
Code for the widget is available here: https://elixirtess.github.io/list_widget/#
It looks highly customisable and we should be able to filter on 'biocuration'. I'll have a play with adding it to the WordPress site to see if it can work properly.

[2018-05-18 14:42] Drosophilic commented on #31
I have placed the widget on the right hand column for now. It is visible there for all users.

As I mentioned before, it is highly customisable. We can have some topics, countries etc. listed as filters available above the table, if we like.

Arguably, the widget may work better on it's own page on WordPress, although Wordpress doesn't allow active code to be inserted into the page/post itself. I'

[2018-05-18 14:51] Drosophilic commented on #31
The widget itself is very slow to load, leading to a 'spinning disc of death'. I'll speak to Niall about that.

[2018-05-18 16:34] andrewsu commented on #31
Just a note that when you get it finalized, we'll want to get this added to the code repo, otherwise it'll get overwritten on next update. I can walk you through that...

[2018-05-22 13:09] Drosophilic commented on #45
Done. See - https://www.biocuration.org/call-host-the-13th-international-biocuration-conference/

[2018-05-22 13:09] #45 closed

[2018-05-22 16:31] nicolevasilevsky commented on #44
closing this, please create a new ticket if there are any issues.

[2018-05-22 16:31] #44 closed

[2018-05-24 18:47] nicolevasilevsky opened #47 "remove note about issues with membership system"
remove note:
“NOTE FOR NEW MEMBERS: we are experiencing some problems with the membership system. If you encounter an error message while becoming a member, please contact us  at intsocbio [at] gmail.com  so we can help you with becoming a new member. We apologize for this inconvenience and welcome to ISB!”

[2018-06-11 17:04] nicolevasilevsky opened #48 "membership confirmation page does not lead anywhere"
under the membership dropdown ->member's zone ->membership confirmation - the membership confirmation link does not lead anywhere

[2018-06-15 02:55] nicolevasilevsky commented on #46
reminder that this is still outstanding

[2018-06-15 02:56] nicolevasilevsky commented on #47
done

[2018-06-15 02:56] #47 closed

[2018-06-15 17:08] nicolevasilevsky opened #49 "add job posting"
Dear ISB Members,

We are looking to hire two Bioinformatics/Scientific Curators at our Thermo Fisher Scientific, Ann Arbor, MI site.

Description
The Bioinformatics Scientist III (Scientific Curator) will review, analyze and compile clinical data from primary literature and clinical trials specific to biomarkers in cancer. They will provide scientific and technical expertise to a cross-functional

[2018-06-19 16:33] Drosophilic commented on #49
This appears to already be up on https://www.biocuration.org/community/jobs/

[2018-06-19 16:33] #49 closed

[2018-06-20 08:46] Drosophilic commented on #31
The widget is now pretty much set up. I'd like to add a search box to the top of the widget but otherwise it's ready to go.

Would it be worth exploring setting up a separate page for a larger version of the widget (e.g. with a table display, tags/filter options and other search options? This could take a little time as WordPress doesn't like to have code other than WP code on the page, but I coul

[2018-06-20 09:58] Drosophilic commented on #43
All broken links have now been removed. I'm going to check if I can find any via the wayback machine.
To avoid this in the future, we could add https://wordpress.org/plugins/broken-link-checker/

[2018-06-20 12:35] Drosophilic commented on #43
I've added the conference photo from 2005 back on the page.

[2018-06-20 13:06] Drosophilic commented on #31
I've added a search box to the widget.

[2018-06-21 13:33] sandraorchard commented on #46
Suggest
1. 40 CHF
2. 30 CHF
3. 15 CHF

[2018-07-03 12:07] carighi commented on #46
Pete,
 Where are we with this?
If this is finalized we can send to contacts (like the biocuration community in India), the expired members, etc

[2018-07-18 18:53] Drosophilic commented on #46
Hi all, this is still outstanding.  I'm afraid I've been rushed off my feet this last month with various crises and unexpected situations.

[2018-07-18 18:55] nicolevasilevsky commented on #46
@Drosophilic do you know how to edit the table? Could you (or someone else) show me how to do it?

[2018-07-19 06:43] sandraorchard commented on #46
Also on https://www.biocuration.org/membership/membership-levels/ can we add a general statement "If you do not wish to pay be PayPal, contact us on (whatever the membership email is) to discuss alternative options"

[2018-07-19 16:54] andrewsu opened #50 "resolve broken links"
Table below generated from http://www.brokenlinkcheck.com -- ignore the `src` and `404` links -- they don't work...  Click the `url` link to go to the biocuration.org page.

<table width="638" cellpadding="0" cellspacing="0" bordercolor="#999999" id="brokenLinkTable">
                  <tbody><tr>
                    <td id="brokenLinkTable_td_header" width="30"><div align="center"><strong>#</stro

[2018-07-23 23:33] nicolevasilevsky opened #51 "twitter, etc icons not displaying correctly on the website"
![image](https://user-images.githubusercontent.com/6722114/43108335-14409f98-8e96-11e8-81f9-03261e198f14.png)

[2018-07-24 00:31] andrewsu commented on #51
are you running an adblocker?  If so, do you still see the problem after you disable the adblocker?  That seems to fix it for me, but want to confirm we're seeing the same issue...

[2018-07-24 00:32] nicolevasilevsky commented on #51
Yes, I was and turning it off fixed the issue. Looks like the icons changed. Good to know, thanks!

[2018-07-24 00:34] andrewsu commented on #51
well, don't want to close this ticket just yet.  It is annoying (and odd) that an adblocker would be blocking these, and there must be a work around.  worth investigating given how many people run adblockers...

[2018-07-24 00:35] nicolevasilevsky commented on #51
thanks for investigating!

[2018-12-12 23:13] nicolevasilevsky commented on #50
@andrewsu I reviewed these and I think I cleaned up all (or most) of the dead links.

In almost all cases, I just removed the link from the text and preserved the text.

On the [conference page](https://www.biocuration.org/community/conferences/international-biocuration-meetings/), I removed these two links (and the text, I don't know where this content is):

2009 Biocuration meeting evaluation su

[2018-12-13 18:48] nicolevasilevsky commented on #50
Closing this ticket, this has been addressed.

[2018-12-13 18:48] #50 closed

[2019-01-04 21:54] nicolevasilevsky commented on #46
this has been addressed and can be closed.

For future reference, go to this page to update membership pricing:
https://www.biocuration.org/wp-admin/admin.php?page=pmpro-membershiplevels

[2019-01-04 21:54] #46 closed

[2019-02-20 01:31] andrewsu opened #52 "reset password link not displaying in email"
A user reported (and I was able to replicate) a bug where the a reset password email is successfully being sent, but the link does not show up in the email.  However, when examining the raw email, the link is present.  See screenshot:

![2019-02-15_10-55-00](https://user-images.githubusercontent.com/2635409/53058529-3ad82e00-3468-11e9-96b6-9479cdf08627.png)

As described in [this link](http://www.

[2019-03-07 01:16] nicolevasilevsky opened #53 "add jobs posting to website"
We have a postdoctoral position open at the University of Florida, with an emphasis on ontology.

More information, as well as an online application form, is available at: https://apply.interfolio.com/60592

From the announcement:

"A Postdoctoral Associate position is immediately available for highly ambitious, independent and motivated candidates to work in the University of Florida Biomedical I

[2019-03-07 01:17] nicolevasilevsky commented on #53
Hello everyone,

The
 French ANR D2KAB (Data to Knowledge in Agronomy and Biodiversity) project, offers several positions in the semantic web domain at LIRMM in Montpellier, France:
http://d2kab.strikingly.com/#positions

Two
 positions (minimum 18 months) to work on the platform AgroPortal, a portal of ontologies and vocabularies in agronomy:
-
 Research Engineer / Developer (semantic web, ontolo

[2019-03-07 12:15] Drosophilic commented on #53
Done. Please add more here when they appear.

[2019-03-07 15:48] nicolevasilevsky commented on #53
Thanks @Drosophilic!

[2019-03-14 21:33] andrewsu opened #54 "add link to google group to email templates"
add a link to https://groups.google.com/forum/#!forum/isb-biocuration to all relevant templates at https://www.biocuration.org/wp-admin/admin.php?page=pmpro-email-templates.  (all templates there could probably also use a general review/refresh)

[2019-03-25 15:11] #53 closed

[2019-03-27 03:34] #43 closed

[2019-04-01 16:18] andrewsu commented on #52
note: easiest way to make this change is via sftp, credentials in the wpengine control panel

[2019-04-02 22:16] nicolevasilevsky commented on #36
For me, it takes me to the dashboard:
![image](https://user-images.githubusercontent.com/6722114/55439682-353b3100-555a-11e9-9245-87c1f9aafe4b.png)

and in the upper right corner, I can edit my profile:
![image](https://user-images.githubusercontent.com/6722114/55439691-42f0b680-555a-11e9-8562-5a503bddaaa3.png)

It's strange it behaves differently for you.

Not sure how intuitive this is for users

[2019-04-06 00:21] andrewsu commented on #36
@nicolevasilevsky because you're an admin, you get sent to the dashboard.  The screenshots I posted above were from testing with the non-admin `asutestaccount` account, which approximates what most users will see.

[2019-04-07 13:51] nicolevasilevsky commented on #36
I see, thanks for clarifying!

[2019-04-15 20:58] nicolevasilevsky opened #55 "Formatting is off on the EC members page"
The formatting is off on this page: https://www.biocuration.org/about/executive-commitee/

I can't figure out how to fix it. Looks like Wordpress changed the template. The table below the current EC members doesn't look great either.

@andrewsu or @Drosophilic could you take a look? Thank you!

[2019-04-22 18:05] andrewsu commented on #55
I tried adding a new table with the visual "blocks" editor, but that had two problems -- first, there are still alignment issues (though different than the one that currently exists), and second the image HTML code would need to be pasted in by hand into each cell.  I'm thinking there's no way around #2 unfortunately.  So the best solution I can see here is to copy the HTML code for the table of p

[2019-04-22 22:53] nicolevasilevsky commented on #55
Oh! I think I figured out a way I can fix it, by adding these **media & text blocks**. I'll fix this - thank you for looking into this @andrewsu!

![image](https://user-images.githubusercontent.com/6722114/56537976-b57c0300-6516-11e9-8a4d-a779a7170a97.png)

[2019-04-22 23:57] #55 closed

[2019-05-23 16:55] nicolevasilevsky opened #56 "add to website - related meetings"
Workshop on Research Objects (RO2019)
2019-09-24 at IEEE eScience 2019, San Diego, CA, USA
<http://www.researchobject.org/ro2019/>

## Timeline

* 2019-06-24 RO2019 submissions due
* 2019-07-15 RO2019 Notification of acceptance
* 2019-09-02 RO2019 poster/demo submissions due
* 2019-09-24 RO2019 at IEEE eScience 2019

## Research Objects

Scholarly Communication has evolved significantly in recent

[2019-05-24 16:18] nicolevasilevsky opened #57 "add to website - related meetings"
altmetrics19.
BYOR: Bring your
 own research

altmetrics19 (http://altmetrics.org/altmetrics19)
 is part of the altmetrics workshop series organized since 2011 and will take place in conjunction with the 6th
 Altmetrics Conference (6:AM; http://altmetricsconference.com)
 Stirling Court Hotel, located on the University of Stirling campus (Scotland, UK) on 11 October 2019.
This time, altmetrics19 en

[2019-09-19 14:56] andrewsu opened #58 "add mailing list info to the email confirmation on registration"
From the [Sep 2019 EC agenda](https://docs.google.com/document/d/1UT1a8v2vgvrKsV5DDZH5rh-OH_v3r7BFFwFDjYYlJjU/edit):

[2019-09-19 14:58] andrewsu commented on #58
I added some info to the email template for 'Checkout - Paid' email template in the Paid Memberships Pro plugin.  Details in the screenshot.

![2019-09-19_7-56-04](https://user-images.githubusercontent.com/2635409/65255638-16523c00-dab3-11e9-8053-5a12102a10a6.png)

I (or anyone else) should close this ticket after confirming that change in the next user checkout (seen in the outbox of intsocbio@gm

[2019-11-18 17:41] andrewsu commented on #52
looks like https://wordpress.stackexchange.com/questions/246377/missing-url-in-password-reset-email describes a better way to address this issue that will be more persistent (and not overwritten when core files are updated).

[2019-12-06 22:04] andrewsu commented on #52
I undid the change to wp-login.php described above and confirmed that the reset password link does not appear.  Then I added the code below to /wp-content/themes/twentyfourteen-isb/functions.php and confirmed that the password link shows up successfully.

[code]

This should be a persistent fix to this reset password problem.

[2019-12-06 22:04] #52 closed

[2020-05-08 21:56] #57 closed

[2020-05-08 21:56] #56 closed

[2020-06-02 04:08] nicolevasilevsky commented on #2
@sandraorchard Is this something we want to consider doing? Should I add it to a future agenda?

[2020-06-02 04:10] nicolevasilevsky commented on #6
@sandraorchard is this something we can consider doing? If so, I can add it to an upcoming agenda.

[2020-06-02 04:12] nicolevasilevsky commented on #48
this has been fixed

[2020-06-02 04:12] #48 closed

[2020-06-02 04:14] nicolevasilevsky commented on #39
@sandraorchard can you address this or reassign? Thanks!

[2020-06-02 04:14] nicolevasilevsky commented on #36
Can anyone check if this is still an issue?

[2020-06-02 04:15] nicolevasilevsky commented on #34
I think this is fixed, closing

[2020-06-02 04:15] #34 closed

[2020-06-02 04:16] #31 closed

[2020-06-02 04:17] nicolevasilevsky commented on #29
@sandraorchard can this be closed?

[2020-06-02 04:20] nicolevasilevsky commented on #11
@sandraorchard do you know if this is still an issue? Can this be closed?

[2020-06-11 15:43] nicolevasilevsky commented on #6
@fbastian
On the ISB call on 06/11/20 we discussed adding an option to the membership registration form where members can add a link to their bio/LinkedIn, etc.

[2021-02-26 17:09] rvita commented on #2
This is beyond the scope of what can be done, will be thousands of publications. Instead we are adding a list of collaborating curated resources to the ISB website.

[2021-02-26 17:09] #2 closed

[2021-02-26 17:12] rvita commented on #11
new system in place, this thread is obsolete.

[2021-02-26 17:12] #11 closed

[2021-02-26 17:21] rvita commented on #7
google analytics was added, new website design underway. these suggestions have been taken into consideration.

[2021-02-26 17:21] #7 closed

[2021-02-26 17:25] rvita commented on #3
we are adding a collaboration/curated resources page to the ISB website.

[2021-02-26 17:25] #3 closed

[2021-02-26 17:26] #29 closed

[2021-02-26 17:28] rvita commented on #33
added to list of website suggestions for current redesign effort

[2021-02-26 17:28] #33 closed

[2021-03-04 17:06] pfey03 opened #69 "Not in membership list"
H I paid membership on September 21, 2020 but I'm not listed in the membership list. I have the confirmation email that I have paid from that date. I do get biocuration emails. What should I do to be listed?
Thanks
Petra

[2021-03-04 17:14] nicolevasilevsky commented on #69
@pfey03 sorry about this, I'll address it now

[2021-03-04 17:15] nicolevasilevsky commented on #69
I see you are a member, and your membership is valid through Mar 21, 2022.

What list are you referring to?

[2021-03-04 17:18] pfey03 commented on #69
Hmm funky. I went through list and searched for my full name, part name and it didn't come up. And now it came up. strange really as I tried really to find my status and only when I could not find searched my email.
Ok thanks NicolesI close the issue

[2021-03-04 17:18] #69 closed